td {  width: 10%;
    height: 10%;}

table { width: 100%;
    height: 100vh;
   background-color: black;
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
border-spacing: 0;}

#linha3 {background-color: #2bef11;
    height: 5vh;
    text-align: center;
    font-family: fantasy;
    font-size: 2vh;
color: rgb(0, 0, 0);}

#linkproduto { color: black;}

svg { width: 20px;
    height: 20px;}

    #gabinete {width: 30%; 
        font-size: 7vh;
    font-family: fantasy;
    color: #2bef11;
    text-align: center;
    h3 {color: white}
    text-shadow: black 0.1em 0.1em 0.2em
}

#pichau {width: 300px;
    height: 300px;}

    #descricao { font-family: fantasy;
        color: white;
    text-align: center;
font-size: 2vh}

#valor {font-family: fantasy;
    text-align: center;
    color: white;
    font-size: 5vh;}

    img { width: 80px;
        height: 80px;}